/* ___________

 google  fonts
________________*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* -------
default margin padding remove
----------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* google  fonts */
  font-family: "Poppins", sans-serif;
}

/* ______________

  header banner start
--------------------------*/

#banner {
  width: 90%;
  margin: 20px auto;
  background-color: #e1e91e;
  border-radius: 10px;
  margin-bottom: 67px;
}

.banner_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: rgb(0, 0, 0);
  padding: 73px;
  align-items: center;
  justify-items: end;
}

.banner_image > img {
  width: 100%;
}

@keyframes players {
  0% {
    transition: 2s ease-in;
    transform: scale(1.1);
  }

  20% {
    transition: 2s ease-in;
    transform: scale(1.1);
  }

  40% {
    transition: 2s ease-in;
    transform: scale(1.2);
  }

  60% {
    transition: 2s ease-in;
    transform: scale(1.3);
  }

  70% {
    transition: 2s ease-in;
    transform: scale(1.4);
  }

  80% {
    transition: 2s ease-in;
    transform: scale(1.3);
  }

  90% {
    transition: 2s ease-in;
    transform: scale(1.2);
  }

  100% {
    transition: 2s ease-in;
    transform: scale(1.1);
  }
}

.banner_image > img {
  transition: 2s ease-in;
  transform: scale(1.4);
  animation-name: players;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.banner_title {
  font-size: 57px;
}

.banner_peragraph {
  font-size: 16px;
  margin-top: 18px;
}

#banner_btn {
  padding: 17px 50px;
  margin-top: 30px;
  background: #f1360b;
  border-radius: 7px;
  border: none;
  position: relative;
  left: 10px;
}

#banner_btn:hover {
  transform: scale(0.9);
  transition: 1s;
  background-color: #0673e7;
  color: white;
}

/* -------------
header banner end
----------------- */

/* -------------
  blog_gallery  start
----------------------*/

#blog_gallery_main {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}

#side_menu_gallery_wrapper {
  display: flex;
  justify-content: space-around;
}

.blog_item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 11px;
  grid-row-gap: 30px;
  align-items: end;
}

.blog_transfer {
  padding: 5px 20px;
}

.blog_peragraph {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog_chat {
  margin-left: 30px;
}

.blog > img {
  width: 100%;
}

.blog {
  width: 300px;
}

/* file2(upcoming match.html) */
.match_handle {
  grid-column-gap: 50px;
  grid-row-gap: 60px;
}

/* file3(all group.html) start */
.group_logo {
  width: 100%;
}

.all_group_wrap {
  text-align: center;
  width: 300px;
}

.group_name {
  font-size: 33px;
}

.group_stadium {
  font-size: 16px;
}

/* file3(all group.html)end  */

.side_menu {
  background: #020202;
  width: 300px;
  text-align: center;
  padding: 32px;
  border-radius: 10px;
  height: 247px;
  margin: 0px 10px;
}

#side_anchor {
  text-decoration: none;
  background: white;
  padding: 10px 16px;
  display: block;
  border-radius: 10px;
  color: black;
}

.menu_1 {
  margin-bottom: 18px;
}

.menu_2 {
  margin-bottom: 18px;
}

.menu_3 {
  background-color: #f1360b;
}

li {
  list-style: none;
}

/* view_all button  */

.view_all {
  text-align: center;
  margin-top: 34px;
}

.view_btn {
  padding: 15px 52px;
  background: #f11f0a;
  border-radius: 7px;
  border: none;
  display: none;
}

/* -------------
blog_gallery end
--------------*/

/*--------------
       footer start
 ------------------------- */

.footer_item {
  background: #05041a;
  text-align: center;
  padding: 50px;
}

.fotter_title {
  color: rgb(250, 250, 250);
  margin-bottom: 30px;
  font-size: 40px;
}

#footer_ul {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.footer_anchor {
  text-decoration: none;
  margin: 5px 18px;
  color: white;
}

.social_link {
  text-align: center;
  background: #030318;
}

#social_icon {
  font-size: 32px;
  margin: 10px;
}

.fa-facebook {
  color: #0673e7;
}

.fa-instagram {
  color: #0673e7;
}

.fa-linkedin {
  color: #0c67c3;
}

/*--------------
       footer end
 ------------------------- */

/* footer end  */

/* Large devices (laptops/desktops, 1024px and up end) */
