/* ___________

 google  fonts
________________*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* -------
default margin padding remove
----------*/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {

    /* google  fonts */
    font-family: 'Poppins', sans-serif;


}


/* ______________

  header banner start
--------------------------*/


#banner {

    width: 90%;
    margin: 20px auto;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 100px;
}

.banner_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    align-items: center;
    justify-items: center;
    padding: 41px;

}

.banner_title {
    font-size: 60px;

}

.banner_peragraph {
    font-size: 16px;
}

#banner_btn {
    padding: 10px 40px;
    margin-top: 30px;
    background: #f1360b;
    border-radius: 7px;
}

/* -------------
header banner end
----------------- */

/* -------------
  blog_gallery  start
----------------------*/

#blog_gallery_main {

    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}

#side_menu_gallery_wrapper {

    display: flex;
}

.blog_item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 11px;
    grid-row-gap: 30px;

}

.blog_transfer {
    padding: 5px 20px;
}

.blog_peragraph {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog_chat {
    margin-left: 30px;
}



.side_menu {
    background: #020202;
    width: 300px;
    text-align: center;
    padding: 32px;
    border-radius: 10px;
    height: 247px;
    margin: 0px 10px;
}



#side_anchor {
    text-decoration: none;
    background: white;
    padding: 10px 16px;
    display: block;
    border-radius: 10px;
    color: black;
}

.menu_1 {
    margin-bottom: 18px;
}

.menu_2 {
    margin-bottom: 18px;
}

.menu_3 {

    background-color: #f1360b;

}


li {

    list-style: none;
}

/* view_all button  */

.view_all {
    text-align: center;
    margin-top: 34px;
}

.view_btn {
    padding: 15px 52px;
    background: #f11f0a;
    border-radius: 7px;
    border: none;
}



/* -------------
blog_gallery end
--------------*/





/*--------------
       footer start
 ------------------------- */

 .footer_item {
   
    background: black;
    text-align: center;
    padding: 50px;
}
.fotter_title {
    color: wheat;
    margin-bottom: 30px;
    font-size: 40px;
}

#footer_ul{
    display: flex;
    justify-content: center;
    margin-top: 72px;
}

.footer_anchor {
    text-decoration: none;
    margin: 5px 18px;
    color: white;
    
}



/*--------------
       footer end
 ------------------------- */










/* ---------
 media_query phones small devices start
-------------------*/

/* banner start */
 
@media only screen and (max-width: 600px) {
    
    .banner_items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .banner_contain {
        margin-bottom: 21px;
        text-align: center;
    }
}



/* banner end  */




/* Extra small devices (phones, 600px and down) */

/* side menu start */
@media only screen and (max-width: 600px) {
    



    #side_menu_gallery_wrapper {
         flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .side_menu {
        display: flex;
        height: auto;
        background-color: aliceblue;
        width: 406px;
        flex-direction: column;
    }

    #side_anchor {
        text-decoration: none;
        background: #ededed;
        padding: 10px 16px;
        display: block;
        border-radius: 10px;
        color: black;
    }

    

}
/*  side menu  end */


/* blog_item start */

@media only screen and (max-width: 600px) {
    
   .blog_item{

     display: grid;
     grid-template-columns: repeat(1, 1fr);

   }

   .view_btn{
     
     display:none;

   }

  


}


/* blog_item end  */


/* footer start */

@media only screen and (max-width: 600px) {

    #footer_ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
    
        }

        .footer_anchor {
            text-decoration: none;
            margin: 5px 18px;
            color: white;
            margin-bottom: 30px;
            display: block;
        }

}





/* footer end  */
/* ---------
 media_query phones small devices end
-------------------*/





/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
 */







